<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %5p %c{1.} - %m %n"/>
        </Console>

        <Console name="SIMPLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="simpleLogger" level="INFO" additivity="false">
            <AppenderRef ref="SIMPLE"/>
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>
</Configuration>
